rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /services/{serviceId} {
      allow read: if true; 
      allow create: if request.resource.data.owner == request.auth.uid;
      allow update, delete: if request.resource.data.owner == request.auth.uid && request.resource.data.owner == resource.data.owner;
    }

    match /settings/default {
      allow read: if true;
      allow create, update, delete: if isAdmin();
      
      function isAdmin() {
        return request.auth.token.admin == true;
      }
    }

    match /users/{userId} {
      allow read: if request.auth.uid == userId;
    }
  }
}