rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read: if true; 
      allow write: if request.auth.uid != null;
    }

    match /services {
      allow read: if true; 
      allow write, update, delete: if isServiceOwner();

      function isServiceOwner() {
        return resource.data.ownerId == request.auth.uid;
      }
    }

    match /settings/default {
      allow read: if true; 
      allow write, update, delete: if isAdmin();
      
      function isAdmin() {
        return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'ADMIN';
      }
    }

    match /users/{userId} {
      allow read: if request.auth.uid == userId;
    }
  }
}